blox {
    min-height: calc(100vh - 56px - 10px);
}
mat-toolbar {
    input {
        color: #FFF !important;
        height: 40px !important;
        border: none !important;
        font-size: 14px !important;
        max-width: 500px;
        line-height: 14px !important;
        font-weight: 500 !important;
        margin-right: 15px;
        text-transform: uppercase;
        background-color: transparent !important;
    }
    input:focus,
    input:active {
        width: calc(100% - 15px);
    }
}
mat-sidenav,
mat-sidenav-content {
    flex: 1 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
mat-sidenav {
    width: 300px;
    border: none !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    mat-content mat-tab-group {
        height: calc(100% - 56px - 56px) !important;
    }
    mat-footer {
        text-align: center;
    }
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile {
    margin: auto;
    max-width: 400px;
}
.tablet {
    margin: auto;
    max-width: 1000px;
}
.desktop {
    margin: auto;
    max-width: 2000px;
}
.options {
    top: 0px;
    left: 0px;
    right: 0px;
    color: #FFF;
    bottom: 0px;
    display: flex;
    opacity: 0;
    z-index: 100;
    position: absolute;
    transition: all 0.5s ease-in-out;
    align-items: center;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}
column:hover .options,
column:active .options {
    opacity: 1;
}
.dashboard {
    overflow-y: auto;
    padding-left: 50px;
}
.dashboard::-webkit-scrollbar {
    display: none;
}
.row-properties {
    color: #FFF;
    right: 5px;
    bottom: 0px;
    height: 10px;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
}
.drag-handle {
    left: -35px;
    position: absolute;
    align-self: center;
}
.cdk-drag-preview {
    margin: 5px;
    display: flex;
    min-height: 100px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px !important;
    flex-direction: row;
}
.drag-placeholder {
    margin: 5px;
    height: 100px;
    display: flex;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    align-items: center;
    border-radius: 10px !important;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
@media screen and (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }
}