.upload {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border: 1px solid #E0E0E0;
    display: block;
    position: relative;
    border-radius: 4px;
    background-size: contain;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    label {
        top: -5px;
        left: 5px;
        color: #626262;
        height: 11px;
        padding: 0px 4px;
        position: absolute;
        font-size: 11px;
        line-height: 11px;
        background-color: #FFF;
    }
}
.upload:hover {
    border: 2px solid #000;
    margin: 9px auto;
    label {
        color: #212121;
        span {
            color: #03A9F4;
        }
    }
}