form {
    padding: 20px 0px;
    button {
        width: 100%;
        margin: auto;
        max-width: 300px;
    }
}
.preview-container {
    width: calc(100% - 20px);
    display: flex;
    padding: 10px;
    position: relative;
    min-height: 100px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
}