iframe {
    width: 1000px;
    border: 0;
    height: 100%;
    margin: auto;
    display: block;
}
@media screen and (max-width: 1000px) {
    iframe {
        width: 100%;
    }
}
mat-toolbar img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}
column {
    overflow: hidden;
    chart {
        width: 100%;
        height: 100%;
        position: relative;
    }
}
.value {
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    position: absolute;
    font-size: 32px;
    line-height: 32px;
    align-items: center;
    font-weight: 300;
    justify-content: center;
}
.hidden {
    display: none;
}