#dataStudioFrame {
    border:     0;
    height:     calc(100% - 64px);
    display:    none;
}
.pdf-container {
    height:             calc(100% - 64px);
    overflow-y:         auto;
    background-color:   #616161;
    pdf-viewer {
        padding-top:        50px;
        padding-bottom:     50px;
    }
}
@media screen and (max-width: 600px) {
    .pdf-container {
        height: calc(100% - 56px);
    }
    #dataStudioFrame {
        height: calc(100% - 60px);
    }
}