<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="close()" color="accent" bit-branding bit-color>
            <mat-icon>
                arrow_back
            </mat-icon>
        </button>
        
        <div class="page-label" bit-branding bit-color>
            {{ 'share' | translate : language | async }} {{ title }}
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
    <mat-form-field appearance="outline">
        <mat-label>
            {{ 'email' | translate : language | async }}
        </mat-label>

        <input type="email" name="email" matInput formControlName="email" [placeholder]="'email' | translate : language | async" required>

        <mat-error align="start" *ngIf="errors.email" class="form__error">
            {{ errors.email | translate : language | async }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            {{ 'role' | translate : language | async }}
        </mat-label>

        <mat-select name="role" formControlName="role" [placeholder]="'role' | translate : language | async" required>
            <mat-option *ngFor="let role of roles" [value]="role.value" [disabled]="role.value == 5">
                {{ role.description | translate : language | async }}
            </mat-option>
        </mat-select>

        <mat-error align="start" *ngIf="errors.role" class="form__error">
            {{ errors.role | translate : language | async }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" bit-branding bit-background>
        {{ 'submit' | translate : language | async }}
    </button>
</form>