form {
    width:      500px;
    margin:     auto;
    padding:    10px 15px;
    button {
        width:          100%;
        text-transform: uppercase;
    }
	mat-form-field {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }
}