.reports-container {
    height:     calc(100% - 64px);
    overflow-y: auto;
    mat-list {
        padding-top: 0px;
        mat-list-item {
            border-bottom: 1px solid #E0E0E0;
        }
        mat-list-item:last-child {
            border-bottom: none;
        }
    }
}
@media screen and (max-width: 600px) {
    .reports-container {
        height: calc(100% - 56px);
    }
}