mat-toolbar img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}
[mat-fab] {
    right: 20px;
    bottom: 20px;
    z-index: 10;
    position: fixed;
}
.mat-column-mobile,
.mat-column-tablet,
.mat-column-desktop {
    width: 40px;
    mat-icon {
        color: #E0E0E0;
    }
    mat-icon.available {
        color: #000;
    }
}
.mat-column-description {
    font-size: 12px;
    text-transform: uppercase;
}