<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>
            Label
        </mat-label>
        
        <input matInput type="text" name="label" placeholder="label" formControlName="label" required>

        <mat-error *ngIf="errors.label">
            {{ errors.label }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            Display Type
        </mat-label>
        
        <mat-select name="type" placeholder="display type" formControlName="type" required>
            <mat-option *ngFor="let type of types | orderBy : 'description'" [value]="type.value">
                {{ type.description }}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="errors.type">
            {{ errors.type }}
        </mat-error>
    </mat-form-field>
</form>